/* Login.css */

.login-page {
    background-color: #111; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #333; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
  }
  
  .splash-text {
    color: #fff; 
    font-family: 'Montserrat', sans-serif; 
  }
  
  .splash-subtext {
    color: #ccc; 
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin: 10px 0;
    border: none; 
    border-bottom: 2px solid #007bff; 
    background-color: transparent;
    color: #fff; 
    font-size: 16px;
    max-height: 2em; /* Limit the height of the input */
    max-width: 100%; /* Ensure the input does not exceed its container width */
    overflow: hidden; /* Hide any overflow */
    -webkit-text-size-adjust: 100%; /* Disable text size adjustment on WebKit browsers */
  
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px; 
    border-radius: 25px; 
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Oswald', sans-serif; 
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 10px;
    color: #ccc; 
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  input:focus {
    outline: none;
    border-bottom: 2px solid #007bff; 
  }
  
  /* Responsive Design */
/* Larger screens */
.login-container {
    width: 300px;
  }
  
  /* Tablets and smaller screens */
  @media (max-width: 768px) {
    .login-container {
      width: 80%;
    }
  }
  
  /* Mobile phones */
  @media (max-width: 480px) {
    .login-container {
      width: 70%;
      height: 70vh; /* Adjust the height based on your needs */

    }
}